{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/AP-logo/favicon-32x32.png' %}">
    {% block metadata %}{% endblock metadata %}

    <!--AD-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8973606169567639"
            crossorigin="anonymous"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    {% comment %}<link href="https://fonts.googleapis.com/?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">{% endcomment %}

    <!-- Stylesheet -->
    <link href="{% static 'assets/plugins/line-awesome/css/line-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/smooth-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    {% block style %} {% endblock style %}
</head>
<body class="">

<div class="page-loader">
    <div class="bounceball"></div>
</div>
{% block content %}{% endblock content %}


<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/gsap.min.js' %}"></script>
<script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'assets/js/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'assets/js/lightbox.min.js' %}"></script>

<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/ajax-form.js' %}"></script>
<script src="{% static 'assets/js/color.js' %}"></script>
<script>
    function get_url() {
        return '{% url "index" %}'
    }

    function get_csrf() {
        return "{{ csrf_token }}"
    }
</script>
{% block script %} {% endblock %}
</body>
</html>