{% extends 'base.html' %}
{% load static %}
{% block title %}AI Image Generator{% endblock title %}
{% block metadata %}
    <meta name="description"
          content="Generate stunning images from text with the power of AI. Try our free AI image generator that transforms your ideas into beautiful visuals.">
    <meta name="keywords"
          content="AI image generator, text to image, AI art, image creation, machine learning, artificial intelligence, creative tool, web app">
    <meta name="author" content="Arth Patel">
    <meta name="og:title" content="AI Image Generator - Create Art from Text">
    <meta name="og:description"
          content="Generate stunning images from text with the power of AI. Try our free AI image generator that transforms your ideas into beautiful visuals.">
    <meta name="og:image" content="{% static 'images/AP-logo/favicon-32x32.png' %}">
{% endblock metadata %}
{% block style %}
    <style>
        html {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: linear-gradient(#141e30, #243b55);
        }

        .login-box {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 400px;
            padding: 40px;
            transform: translate(-50%, -50%);
            background: rgba(0, 0, 0, .5);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
            border-radius: 10px;
        }

        .login-box h2 {
            margin: 0 0 30px;
            padding: 0;
            color: #fff;
            text-align: center;
        }

        .login-box .user-box {
            position: relative;
        }

        .login-box .user-box input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }

        .login-box .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }

        .login-box .user-box input:focus ~ label,
        .login-box .user-box input:valid ~ label {
            top: -20px;
            left: 0;
            color: #03e9f4;
            font-size: 12px;
        }

        .login-box form a {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            color: #03e9f4;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            transition: .5s;
            margin-top: 10px;
            letter-spacing: 4px
        }

        .login-box form a:hover {
            background: #03e9f4;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
        }

        .login-box form a span {
            position: absolute;
            display: block;
        }

        .login-box form a span:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #03e9f4);
            animation: btn-anim1 1s linear infinite;
        }

        @keyframes btn-anim1 {
            0% {
                left: -100%;
            }
            50%, 100% {
                left: 100%;
            }
        }

        .login-box form a span:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #03e9f4);
            animation: btn-anim2 1s linear infinite;
            animation-delay: .25s
        }

        @keyframes btn-anim2 {
            0% {
                top: -100%;
            }
            50%, 100% {
                top: 100%;
            }
        }

        .login-box form a span:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, #03e9f4);
            animation: btn-anim3 1s linear infinite;
            animation-delay: .5s
        }

        @keyframes btn-anim3 {
            0% {
                right: -100%;
            }
            50%, 100% {
                right: 100%;
            }
        }

        .login-box form a span:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #03e9f4);
            animation: btn-anim4 1s linear infinite;
            animation-delay: .75s
        }

        @keyframes btn-anim4 {
            0% {
                bottom: -100%;
            }
            50%, 100% {
                bottom: 100%;
            }
        }

        .generate-img-btn {
            cursor: pointer;
        }
    </style>
{% endblock style %}
{% block content %}
    <video class="body-overlay" muted="" autoplay="" loop="" preload="none">
        <source src="{% static 'assets/images/video1.mp4' %}" type="video/mp4">
    </video>
    <div class="login-box">
        <h2>Generate AI Images</h2>
        <form method="POST" action="{% url 'generate_image' %}" id="generate-img-form">
            {% csrf_token %}
            <div class="user-box ms-1">
                <input type="text" name="text_input" required="" {% if prompt %}value="{{ prompt }}"{% endif %}
                       class="generate-img-inp">
                <label>Enter your image description...</label>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <a class="generate-img-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                </a>
            </div>
        </form>
        <div class="generate-img-output-div d-flex justify-content-center mt-4 mb-2">

        </div>
        <p class="w-100 text-center">© 2023 Arth Patel. All rights reserved.</p>

    </div>
{% endblock content %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var video = document.querySelector(".body-overlay");
            var body = document.querySelector("body");

            video.addEventListener("canplaythrough", function () {
                // Video has loaded, set it as the body background
                body.style.background = "url(" + video.currentSrc + ") no-repeat center center fixed";
                body.style.backgroundSize = "cover";
            });

            // Start loading the video
            video.load();
        });

        const form = document.getElementById('generate-img-form');
        form.addEventListener('keypress', function (e) {
            if (e.keyCode === 13) {
                e.preventDefault()
                $(".generate-img-btn").trigger('click')
            }
        });

        $("#generate-img-form").on('click', ".generate-img-btn", function () {
            let prompt = $('.generate-img-inp').val()
            if (prompt) {
                $('.page-loader').delay('100').fadeIn(1000);
                $.ajax({
                    type: 'POST',
                    url: "{% url 'generate_image' %}",
                    data: {
                        'text_input': prompt,
                        'action': "generate-image-ai",
                        'csrfmiddlewaretoken': get_csrf()
                    },
                    success: function (data) {
                        $('.page-loader').delay('100').fadeOut(1000);
                        if (data.code === 'success') {
                            $('.generate-img-output-div').html("")
                            $('.generate-img-output-div').append(`<a href="${data.image_url}" target="_blank" download>
                            <img src="${data.image_url}" alt="Generated Image" class="generated-image">
                                </a>`)
                        } else {
                            alert(data.msg)
                        }
                    },
                    error: function () {
                        $('.page-loader').delay('100').fadeOut(1000);
                    }
                })
            }
        })

        function get_csrf() {
            return "{{ csrf_token }}"
        }
    </script>
{% endblock %}